<html>
<head>
    <title>
        Developer SoftTech Bangladesh
    </title>
    <style>
p.double {border-style: double; width: 310px; position: center}

 {#        .joy {#}
 {#  width: 300px;#}
 {#  border:1px green;#}
 {#  position:center;#}

{#        body {#}
{#    text-align:center;#}

    </style>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<p style="position: center">
    <h2>The SoftTech Bangladesh</h2><br>
<strong>Address: </strong>64-65, Kazi Nazrul Islam Avenue, Dhaka-1215
Phone: 09610222222, 9144330, 58156305
Fax: 9144332, 58156307 & 58156306
GPO Box. 3257
<br><br>
    <strong>News/Reporting: </strong>reporting@softtech.net
    <br><br>
    <strong>Letters to the Editor:	</strong>letters@softtech.net
    <br><br>
    <strong>Print Advertisement:</strong><br>	joy.bangla@softtech.net<br>
siddiqur.rahman@softtech.net<br>
advdept@yahoo.com<br>
tdsadvertisement@gmail.com<br>
tajdintds@outlook.com<br>
</p>




{% endblock %}
</body>

